#container {
  width:100%;
  height:630px;
  /*margin:auto 10px;/* auto pour flex centre aussi verticalement */
}
#menu{
  width:25%;
  height:100%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
  background-color: #303030;
  font-family: Tahoma, Geneva, sans-serif;
  /*margin:auto 10px;/* auto pour flex centre aussi verticalement */
}
#txtmenu{
  text-align: center;
  color: white;
  padding-top : 5%;
  padding-bottom : 5%;
  font-family: Tahoma, Geneva, sans-serif;
  font-size : 23px;
}
.itemmenu{
  font-family: Tahoma, Geneva, sans-serif;
  text-align: center;
  color: white;
  background-color: #505050;
  padding-top : 5%;
  padding-bottom : 5%;
  width : 100%;
  text-decoration: none;
  display: block;

}
.itemmenu:hover {
    background-color: #606060;
    transition-duration: 600ms;
}

#infos{
  text-align: center;
  color: white;
  padding-top : 5%;
  padding-bottom : 5%;
  width : 100%;
  display: block;
  font-family: Tahoma, Geneva, sans-serif;
}
html {
  height:100%;
  background-color: #202020;
}
body {
  min-height:100%;
  display:flex;
  justify-content: center;/* centrage horizontal des contenus */
}
